# Mac OS/X
.DS_Store

# Qt
build-*/
*.pro.user*
*.stash
tablet_qt/.qtc_clangd/
tablet_qt/build/
tablet_qt/Makefile
tablet_qt/tests/build/

# Temporary
*~
*.o

# silver searcher
.ignore

*.tmp
*.profile

# ignore core dump file
core
# but not core directory
!core/

# Emacs
.dir-locals.el

# PyCharm
.idea/*

# Python
__pycache__/

# Test database
camcops_test.sqlite*

# pytest coverage
.coverage
htmlcov/

# Packaging
server/camcops_server.egg-info
server/build/

# pytest coverage
.coverage
htmlcov/

# Other
distributables/
working/*
schema.plantuml
schema.png
