#==============================================================================
# Server/Python
#==============================================================================

server/debian/
server/packagebuild/
*.pyc

#==============================================================================
# Android builds
#==============================================================================

tmp
bin
build
*.zip
.apt_generated

*.jar
*.so
*.class

#==============================================================================
# MacOS rubbish
#==============================================================================

.DS_Store

#==============================================================================
# Titanium builds
#==============================================================================

*.apk
build.log
tablet/.settings/
tablet/build/
tablet/modules/
tablet/node_modules/

#==============================================================================
# Legacy
#==============================================================================

.svn
_svn
