# MANIFEST.in file for the CamCOPS server Python package
#
# Note that paths are relative to the location of MANIFEST.in and setup.py.

# =============================================================================
# Pick directories to include (graft) or exclude (prune):
# =============================================================================

graft camcops_server

# =============================================================================
# Now exclude duff things:
# =============================================================================

# Git:
global-exclude .gitignore

# Temporary/backup files:
global-exclude ~* *~

# Compiled Python:
global-exclude *.py[co]

# Translation source (we want .mo files but not the sources):
global-exclude *.po *.pot
