# requirements-rpm.txt
#
# This file is hand-edited.
# Comments will be stripped out.
# Its data is sent to 'rpmrebuild'; see MAKE_LINUX_PACKAGES.py.
# For syntax, see:
# - http://ftp.rpm.org/api/4.4.2.2/dependencies.html
# - https://serverfault.com/questions/299179/can-one-require-this-or-that-package-in-an-rpm-spec-file
# - http://rpm.org/user_doc/boolean_dependencies.html
#   ... "or" allowed from rpm-4.13 (Nov 2016)
#   ... but we have to work with RPM 4.8 (e.g. CentOS 6.9)
#
# Order is the same as requirements-deb.txt:

gcc  # gcc is not standard on CentOS, but is necessary for installation of other packages
ImageMagick-devel
openssl-devel
libxml2-devel
libxslt-devel

python
# (python35u or python36u)  # NOT OK WITH OLD RPM VERSIONS
# Python 3.5 doesn't support collection.Collection, so we have effectively
# committed to 3.6
python36u
python36u-devel
python36u-tkinter


supervisor
swig
wget


# - For yum, some different names.
#   Search e.g. with "yum list scip\*" or "yum search scipy" to find scipy.
# - pyodbc requires {sql.h sqlext.h} which requires unixodbc-dev (Debian) or
#   unixODBC-devel (CentOS)
