gcc  # gcc is not standard on CentOS, but is necessary for installation of other packages
ImageMagick-devel
openssl-devel
libxml2-devel
libxslt-devel
python
python34u  # python3 isn't a standard package on Centos 6.5, but python34u (Python 3.4) is available via an additional repository
python-devel
supervisor
swig
wget


# For yum, some different names. Search e.g. with "yum list scip\*" or "yum search scipy" to find scipy
# pyodbc requires {sql.h sqlext.h} which requires unixodbc-dev (Debian) or unixODBC-devel (CentOS)
