gcc  # GCC
libmagickwand-dev  # MagickWand image libraries
libssl-dev  # SSL libraries
libxml2-dev
libxslt1-dev
python
python3
python3-dev
supervisor  # for managing gunicorn, etc.
swig  # used by
wget
