/*
- Font size mappings (see CamcopsApp::getSubstitutedCss):

    %1      normal font size (pt)
    %2      big font size (pt)
    %3      heading font size (pt)
    %4      title font size (pt)
    %5      base menu font size (pt)
    %6      slider groove size (px)
    %7      slider handle size (px)
*/

QWidget,
BaseWidget {
    color: black;
    font-size: %2pt;
    background-color: #B4D8E7;  /* a pale blue */
}

QLabel#heading {
    font-size: %3pt;
    font-weight: bold;
}
QLabel#title {
    font-size: %4pt;
}

/* Selection list */
/* http://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtreeview */
QListView,
QTreeView {
}
QListView::item,
QTreeView::item {
    padding: 15px;
}
QTreeView::item:has-children {
    /* "we would prefer you to be more specific" */
    color: green;
}
QListView::item:selected,
QTreeView::item:selected {
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 15px;
}

/*
QTreeView::branch:has-siblings:!adjoins-item {
    border-image: url(:/resources/camcops/images/vline.png) 0;
}

QTreeView::branch:has-siblings:adjoins-item {
    border-image: url(:/resources/camcops/images/branch-more.png) 0;
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item {
    border-image: url(:/resources/camcops/images/branch-end.png) 0;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
        border-image: none;
        image: url(:/resources/camcops/images/branch-closed.png);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
        border-image: none;
        image: url(:/resources/camcops/images/branch-open.png);
}
*/

/* Search box */
QLineEdit {
    background-color: lightgray;
    font-weight: bold;
}

/* =========================================================================
   Debugging
   ========================================================================= */

#debug_green {
    background-color: green;
}
#debug_red {
    background-color: red;
}
#debug_blue {
    background-color: blue;
}
#debug_yellow {
    background-color: yellow;
}
