/*
- Font size mappings (see CamcopsApp::getSubstitutedCss):

    %1      normal font size (pt)
    %2      big font size (pt)
    %3      heading font size (pt)
    %4      title font size (pt)
    %5      base menu font size (pt)
    %6      slider groove size (px)
    %7      slider handle size (px)
*/

QMainWindow {
    /* not relevant because QStackedWidget superimposes */
    /* background-color: yellow; */
}

QStackedWidget {
    /* the stack of menus; thus, the background of all menus */
    /* background-color: red; */
    background-color: black;
}

LogBox QPlainTextEdit {
    border: 1px solid black;
    font-family: 'Dejavu Sans Mono', 'Courier';
    font-size: 10pt;
    /* OLD SCHEME: background-color: black; */
    /* OLD SCHEME: color: white; */
    background-color: rgb(211, 211, 211);  /* lightgray */
    color: black;
}

LogMessageBox QPlainTextEdit {
    font-family: 'Dejavu Sans Mono', 'Courier';
}

QScrollArea {
    border: none;
}
