/*
- Font size mappings (see CamcopsApp::getSubstitutedCss):

    %1      normal
    %2      big
    %3      heading
    %4      title
    %5      base menu font size
*/

QMainWindow {
    /* not relevant because QStackedWidget superimposes */
    /* background-color: yellow; */
}

QStackedWidget {
    /* the stack of menus; thus, the background of all menus */
    background-color: red;
}

LogBox QPlainTextEdit {
    border: 1px solid black;
    font-family: 'Dejavu Sans Mono', 'Courier';
    font-size: 10pt;
    background-color: black;
    color: white;
}
