/*
- See the questionnaire CSS for notes.

- Font size mappings (see CamcopsApp::getSubstitutedCss):

    %1      normal
    %2      big
    %3      heading
    %4      title
    %5      base menu font sizec

*/

/* =========================================================================
   Generic styles
   ========================================================================= */

QWidget,
BaseWidget {
    font-size: %5pt;
}

/* =========================================================================
   Outer containers
   ========================================================================= */

#menu_window_outer_object {
    /* background-color ignored, for unclear QStackedWidget reason */
    border: 0;
    padding: 0;
    margin: 0;
}
#menu_window_background {
    background-color: black;
    border: 0;
    padding: 0;
    margin: 0;
}

/* =========================================================================
   Menu header
   ========================================================================= */

#menu_window_title {
    color: white;
    font-weight: bold;
    border: 0;
    margin: 0;
    padding: 0;
}
#header_horizontal_line {
    background-color: white;
}
#menu_header_patient_info {
    color: yellow;
    border: 0;
    margin: 0;
    padding: 0;
}
#menu_header_no_patient {
    color: magenta;
    font-weight: bold;
    border: 0;
    margin: 0;
    padding: 0;
}

#menu_header_crippled {
    background-color: rgb(60, 0, 60);  /* very dark magenta */
}

/* =========================================================================
   Menu content
   ========================================================================= */

QListWidget {
    background-color: black;
    /* ... vertically below all menu items; seen if menu shorter than screen */
    border: 0;
    padding: 0;
    margin: 0;
}
/*
QListWidget::item,
HeightForWidthListWidget::item {
    background-color: black;
}
*/
QListWidget::item:selected {
    /* excellent diagnostic to see if this stylesheet is in use */
    background-color: blue;
}

/* Menu items */
#menu_item_title {
    color: white;
    font-weight: bold;
    border: 0;
    margin: 0;
    padding: 0;
}
#menu_item_subtitle {
    /* background-color: red; */
    color: rgb(200, 200, 200);
    border: 0;
    margin: 0;
    padding: 0;
}
#task_item_taskname_complete {
    color: white;
}
#task_item_timestamp_complete {
    color: white;
}
#task_item_summary_complete {
    color: white;
}
#task_item_taskname_incomplete {
    color: rgb(200, 200, 200);
}
#task_item_timestamp_incomplete {
    color: rgb(200, 200, 200);
}
#task_item_summary_incomplete {
    color: rgb(200, 200, 200);
}

/* Background colour modifications */
#not_implemented {
    background-color: rgba(0, 0, 255, 100);
}
#label_only {
    background-color: rgba(150, 150, 150, 100);
}
#locked {
    background-color: rgba(255, 0, 0, 100);
}
#needs_privilege {
    background-color: rgba(255, 255, 0, 100);
}
#unsupported {
    background-color: rgba(50, 50, 200, 100);
}

#warning {
    color: yellow;
    font-weight: bold;
}
