/*
- See the questionnaire CSS for notes.

- Font size mappings (see CamcopsApp::getSubstitutedCss):

    %1      normal font size (pt)
    %2      big font size (pt)
    %3      heading font size (pt)
    %4      title font size (pt)
    %5      base menu font size (pt)
    %6      slider groove size, perpendicular to the slider direction (px)
    %7      slider handle size, parallel to the slider direction (px)
    %8      slider groove margin, parallel to the slider direction (px)

*/

/* =========================================================================
   Generic styles
   ========================================================================= */

QWidget,
BaseWidget {
    font-size: %5pt;
}

/* =========================================================================
   Outer containers
   ========================================================================= */

#menu_window_outer_object {
    /* background-color ignored, for unclear QStackedWidget reason */
    border: 0;
    padding: 0;
    margin: 0;
}
#menu_window_background {
    /* OLD SCHEME: background-color: black; */
    background-color: rgb(211, 211, 211);  /* lightgray */
    border: 0;
    padding: 0;
    margin: 0;
}

/* =========================================================================
   Menu header
   ========================================================================= */

#menu_window_title {
    /* OLD SCHEME: color: white; */
    color: black;
    font-weight: bold;
    border: 0;
    margin: 0;
    padding: 0;
}
#header_horizontal_line {
    /* OLD SCHEME: background-color: white; */
    background-color: black;
}
#menu_header_patient_info {
    /* OLD SCHEME: color: yellow; */
    color: blue;
    border: 0;
    margin: 0;
    padding: 0;
}
#menu_header_no_patient {
    /* OLD SCHEME: color: magenta; */
    color: red;
    font-weight: bold;
    border: 0;
    margin: 0;
    padding: 0;
}

#menu_header_crippled {
    /* OLD SCHEME: background-color: rgb(60, 0, 60); */  /* very dark magenta */
    background-color: rgb(255, 150, 255);  /* magenta */
}

/* =========================================================================
   Menu content
   ========================================================================= */

QListWidget {
    /* OLD SCHEME: background-color: black; */
    background-color: lightgray;
    /* ... vertically below all menu items; seen if menu shorter than screen */
    border: 0;
    padding: 0;
    margin: 0;
}
/*
QListWidget::item,
HeightForWidthListWidget::item {
    background-color: black;
}
*/
QListWidget::item:selected {
    /* excellent diagnostic to see if this stylesheet is in use */
    background-color: rgb(150, 150, 255);
}

/* Menu items */
#menu_item_title {
    /* OLD SCHEME: color: white; */
    color: black;
    font-weight: bold;
    border: 0;
    margin: 0;
    padding: 0;
}
#menu_item_subtitle {
    /* background-color: red; */
    /* OLD SCHEME: color: rgb(200, 200, 200); */
    color: rgb(50, 50, 50);
    border: 0;
    margin: 0;
    padding: 0;
}
#task_item_taskname_complete {
    /* OLD SCHEME: color: white; */
    color: black;
}
#task_item_timestamp_complete {
    /* OLD SCHEME: color: white; */
    color: black;
}
#task_item_summary_complete {
    /* OLD SCHEME: color: white; */
    color: black;
}
#task_item_taskname_incomplete {
    /* OLD SCHEME: color: rgb(200, 200, 200); */
    color: rgb(50, 50, 50);
}
#task_item_timestamp_incomplete {
    /* OLD SCHEME: color: rgb(200, 200, 200); */
    color: rgb(50, 50, 50);
}
#task_item_summary_incomplete {
    /* OLD SCHEME: color: rgb(200, 200, 200); */
    color: rgb(50, 50, 50);
}

/* Background colour modifications */
#not_implemented {
    /* OLD SCHEME: background-color: rgba(0, 0, 255, 100); */
    background-color: rgba(0, 0, 255, 100);
}
#label_only {
    /* OLD SCHEME: background-color: rgba(150, 150, 150, 100); */
    background-color: rgba(150, 150, 150, 100);
}
#locked {
    /* OLD SCHEME: background-color: rgba(255, 0, 0, 100); */
    background-color: rgba(255, 0, 0, 100);
}
#needs_privilege {
    /* OLD SCHEME: background-color: rgba(255, 255, 0, 100); */
    background-color: rgba(255, 255, 0, 100);
}
#unsupported {
    /* OLD SCHEME: background-color: rgba(50, 50, 200, 100); */
    background-color: rgba(50, 50, 200, 100);
}

#warning {
    /* OLD SCHEME: color: yellow; */
    color: red;
    font-weight: bold;
}
