<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.camcops.camcops"
    android:installLocation="auto"
    android:versionCode="42"
    android:versionName="2.4.18">
    <!-- %%INSERT_PERMISSIONS -->
    <!-- %%INSERT_FEATURES -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
    <application
        android:name="org.qtproject.qt.android.bindings.QtApplication"
        android:hardwareAccelerated="true"
        android:label="CamCOPS"
        android:icon="@drawable/icon"
        android:requestLegacyExternalStorage="true"
        android:allowNativeHeapPointerTagging="false"
        android:allowBackup="false">
        <activity
            android:name="org.camcops.camcops.CamcopsActivity"
            android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|density"
            android:label="CamCOPS"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="camcops" android:host="camcops.org" android:path="/register/" />
            </intent-filter>

          <meta-data
                android:name="android.app.extract_android_style"
                android:value="minimal" />

          <meta-data
                android:name="android.app.background_running"
                android:value="false" />

          <meta-data
                android:name="android.app.auto_screen_scale_factor"
                android:value="false" />
          <meta-data
                android:name="android.app.splash_screen_drawable"
                android:resource="@drawable/logo" />
          <meta-data
                android:name="android.app.splash_screen_drawable_portrait"
                android:resource="@drawable/logo_portrait" />
          <meta-data
                android:name="android.app.splash_screen_drawable_landscape"
                android:resource="@drawable/logo_landscape" />
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="33" />
</manifest>
