QMainWindow {
    /* not relevant because QStackedWidget superimposes */
    /* background-color: yellow; */
    border: 0;
    margin: 0;
    padding: 0;
}

QStackedWidget {
    /* the stack of menus; thus, the background of all menus */
    background-color: red;
    border: 0;
    margin: 0;
    padding: 0;
}
