/* http://doc.qt.io/qt-5/stylesheet-syntax.html */

QListWidget {
    background: black;
    border: 0;
    padding: 0;
    margin: 0;
}
QListWidget::item {
    background: black;
}
QListWidget::item:selected {
    /* excellent diagnostic to see if this stylesheet is in use */
    background: blue;
}

QVBoxLayout {
    border: 0;
    margin: 0;
    padding: 0;
}

MenuTitle {
    color: white;
    font-weight: bold;
    border: 0;
    margin: 0;
    padding: 0;
}

MenuSubtitle {
    /* background-color: red; */
    border: 1px solid blue;
    color: grey;
    border: 0;
    margin: 0;
    padding: 0;
}
