/* http://doc.qt.io/qt-5/stylesheet-syntax.html */

QListWidget {
    background: black;
    border: 0;
    padding: 0;
    margin: 0;
}
QListWidget::item {
    background: black;
}
QListWidget::item:selected {
    /* excellent diagnostic to see if this stylesheet is in use */
    background: blue;
}

QVBoxLayout {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Menu header */
MenuWindowTitle {
    color: white;
    font-weight: bold;
    border: 0;
    margin: 0;
    padding: 0;
}
MenuHeaderPatientInfo {
    color: yellow;
    font-weight: bold;
    border: 0;
    margin: 0;
    padding: 0;
}
MenuHeaderNoPatient {
    color: magenta;
    font-weight: bold;
    border: 0;
    margin: 0;
    padding: 0;
}

/* Menu items */
MenuItemTitle {
    color: white;
    font-weight: bold;
    border: 0;
    margin: 0;
    padding: 0;
}
MenuItemSubtitle {
    /* background-color: red; */
    color: rgb(200, 200, 200);
    border: 0;
    margin: 0;
    padding: 0;
}

/* Background colour modifications */
#not_implemented {
    background-color: rgba(0, 0, 255, 100);
}
#label_only {
    background-color: rgba(150, 150, 150, 100);
}
#locked {
    background-color: rgba(255, 0, 0, 100);
}
#needs_privilege {
    background-color: rgba(255, 255, 0, 100);
}
#unsupported {
    background-color: rgba(50, 50, 200, 100);
}
