---
# yamllint disable rule:line-length
name: Python package checks
# yamllint disable-line rule:truthy
on:
    push:
        paths:
            - '**.py'
            - .github/scripts/python_setup.sh
            - .github/workflows/python-package-checks.yml
jobs:
    python-package-checks:
        strategy:
            matrix:
                python-version: ["3.10", 3.11, 3.12]
                # LTS versions
                os: [ubuntu-22.04]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Python package checks
              run: |
                  set -euxo pipefail
                  ${GITHUB_WORKSPACE}/.github/scripts/python_setup.sh
                  source ${HOME}/venv/bin/activate
                  echo checking packages for conflicts
                  python -m pip check
                  echo installing vulnerability checker
                  # safety check is unsupported beyond June 2024 and is replaced with a paid service
                  # Marshmallow 4.0.0 gives error "post_dump() got an unexpected keyword argument 'pass_many'"
                  # typer pinned to avoid AttributeError: module 'typer' has no attribute 'rich_utils'
                  python -m pip install safety "marshmallow<4.0.0" typer==0.16.1
                  echo checking packages for vulnerabilities
                  # All of these vulnerabilities look either harmless or very low risk
                  # 52495 setuptools. Fix in 65.5.1. We'll be careful not to
                  #       install malicious packages.
                  # 67599 pip. Disputed and only relevant if using --extra-index-url,
                  #       which we're not.
                  # 70612 jinja2. The maintainer and multiple third parties
                  #       believe that this vulnerability isn't valid because
                  #       users shouldn't use untrusted templates without
                  #       sandboxing.
                  safety check --full-report --ignore=52495 --ignore=67599 --ignore=70612
