---
# yamllint disable rule:line-length
name: Report missing client translations
# yamllint disable-line rule:truthy
on:
    push:
        paths:
            - .github/scripts/python_setup.sh
            - .github/scripts/report_missing_client_translations.sh
            - .github/workflows/report-missing-client-translations.yml
            - 'tablet_qt/**.cpp'
            - 'tablet_qt/**.h'
            - 'tablet_qt/qt_version.txt'
            - tablet_qt/tools/build_client_translations.py
            - tablet_qt/translations/*.ts

env:
    # Keep in sync with tablet_qt/qt_version.txt. We check this further down.
    QT_VERSION: 6.5.5
jobs:
    report-missing-client-translations:
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v4
            - name: Qt version check
              run: |
                  set -euxo pipefail
                  test "${{ env.QT_VERSION }}" == "$(sed 's/[a-z-]//g' ${GITHUB_WORKSPACE}/tablet_qt/qt_version.txt)"
            - name: Install Qt
              uses: jurplel/install-qt-action@v3
              with:
                  aqtversion: "==3.1.*"
                  version: ${{ env.QT_VERSION }}
                  host: linux
                  target: desktop
                  arch: gcc_64
                  archives: "qtbase qtdeclarative qttools qttranslations icu"
            - uses: actions/setup-python@v5
              with:
                  python-version: "3.10"
            - name: Report missing client translations
              run: |
                  set -euxo pipefail
                  ls ${Qt6_DIR}/lib
                  ${GITHUB_WORKSPACE}/.github/scripts/python_setup.sh

                  ${GITHUB_WORKSPACE}/.github/scripts/report_missing_client_translations.sh
